body{
    margin: auto;
    max-width: 1900px;
    background-image: url("assets/shared/desktop/bg-pattern-circle.svg");
    background-position:750px -500px;
    background-repeat: no-repeat;
    background-color: aliceblue;
    /* overflow: hidden; */
}


html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container{
    max-width:1000px;
    margin: auto;
}

.content{
    display: flex;
    /* margin: auto; */
}

/* Navbar  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navigation {
    flex-grow: 1;
}

.flexnav {
    display: flex;
    align-items: flex-start;
}

.flexnav ul{
    display:flex;
    /* width: 400px; */
    /* flex-grow: 1; */
    list-style: none;
    flex-basis: 350px;
    margin-left: 10%;
    padding: 0;
    align-items: flex-start;
    align-self:center;
   
}

li{
    flex-wrap: wrap;
    color: #6c8294;
    flex-basis: 400px;
    font-size: 15px;
    font-family: 'Public Sans' sans-serif;
    font-weight: bold;
}

.flexnav ul li a:hover{
    color: #36536b;
}

a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color:#6c8294;
}

a:visited{
    color:#6c8294;
}

.schedule{
    background-color: #ba4270;
    color: white;
    border-radius: 40px;
    height: 48px;
    width: 173px;
    border: 0;
}

.schedule:hover{
    background-color: #da6d97;
}

.togglenav{
    display: none;
}

h1{
    color: #36536b;
    font-size: 56px;
}

.plans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.diffplans{
    width: 300px;
    /* padding: 50px; */
}

.services ul{
    list-style: none;
    line-height: 28px;
    padding: 0;
}

.subhead{
    color: #ba4270;
    font-size: 32px;
    line-height: 40px;
    font-family: 'DM Serif Display', sans-serif;
}


.desc{
    font-size: 15px;
    line-height: 28px;
    color: #6c8294;
}
.freeservices{
    margin-left: 0;
}

.freeservices ul{
    list-style-type: none;
    padding: 0;
}

.freeservices ul li{
    line-height: 28px;
    color: #36536b;
}

.servbutton{
    border: 1px solid #36536b;
    border-radius: 20px;
    background-color: #fbfcfb;
    padding: 12px;
    color: #36536b;
    margin: 12px;
    /* text-align: center; */
    /* margin: auto; */
}


.basicservices ul{
    list-style-type: none;
    padding: 0;
}

.basicservices ul li{
    line-height: 28px;
    color: #36536b;
}

.preservices ul{
    list-style-type: none;
    padding: 0;
}

hr{
    width: 220px;
    /* padding: 0; */
    margin: 0;
}

.servbutton:hover{
    background-color: #36536b;
    color: #fbfcfb;
}

.rts{
    display: flex;
    justify-content: space-between;
    /* justify-content: baseline; */
}

.email{
    display: flex;
    justify-content: baseline;
    margin-top: 40px;
}

.emailf{
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
    border: none;
}

.ready p{
    font-size: 48px;
    color: #36536b;
    font-family: 'DM Serif Display' , sans-serif;
}


.footer{
    background-color: #1b262f;
    width: 100%;
    /* width: 1440px; */
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    /* width: 432px;
    height: 38px; */
    /* justify-content: space-around; */
    text-align: center;
}

.left ul{
    display: flex;
    justify-content: space-between;
    /* width: 500px; */
    
}

.left ul li{
    text-decoration: none;
    list-style-type: none;
    width: 51px;
    height: 18px;
    line-height: auto;
    color: #fbfcfe;
    /* justify-content: space-between; */
}

.right{
    width: 320px;
    height: 24px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.line{
    display: none;
}

.closingbutton{
    display: none;
}

.socialimg:hover{
    background-color: #ba4270 ;
}



/* Tablet  */

@media (max-width:1000px){

    body{
        background-image: url("assets/shared/desktop/bg-pattern-circle.svg");
        background-position:420px -540px;
        background-repeat: no-repeat;
    }

    .container{
        max-width:1000px;
        margin: auto;
    }
    
    .content{
        display: flex;
        /* margin: auto; */
    }
    
    .togglenav{
        display: none;
    }

    .pricehead{
        text-align: center;
    }

    hr{
        width: 150px;
    }

    .diffplans{
        width: 200px;
    }

    .services ul{
        list-style-type: none;
    }

    .rts{
        flex-wrap: wrap;
        flex-direction: column;
        /* text-align: center; */
        /* flex-grow: 1; */
        /* justify-content: center; */
        align-items: center;
        margin-bottom: 30px;
    }

    .ready{
        width: 100%;
    }
    .ready p{
        text-align: center;
        font-family: 'DM Serif Display' , sans-serif;
        /* font-weight: bold; */
        font-size: 48px;
        color:#36536b;
    }

    .email{
        /* width: 100px; */
        margin: 0;
    }


}

/* Mobile  */

@media(max-width:700px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .navbar{
        width: 100%;
    }

    .container {
        max-width: 375px;
        margin: auto;
        width: 100%;
    }

    .subhead{
        text-align: center;
    }

    .desc{
        width: 190px;
        text-align: center;
    }

    .servbutton{
        margin-left: 40px;
    }

    .ready{
        width: 100%;
        margin: auto;
    }

    .email{
        flex-direction: column;
        width: 100%;
    }

    .emailbutton{
        width: 100%;
        margin-top: 10px;
        
    }

    .content{
        /* text-align: center; */
        width: 100%;
        justify-content: center;
    }

    .footer{
    flex-direction: column;
    height: 300px;
    /* margin: auto;*/
    width: 100%;
    padding: 0 30px;
}

    .left{
        flex-direction: column;
        margin: auto;
    }

    .left ul{
        flex-direction: column;
        height: 200px;
        padding: 0;
        margin: auto;
    }

    .left ul li a{
        flex-direction: column;
    }


    input{
        width: 100%;
    }
    
    .emailf{
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        /* padding: 0; */
    }

    

    .ready p{
        font-family: 'DM Serif Display' , sans-serif;
        font-size: 32px;
    }

    .diffplans h1{
        text-align: center;
        font-size: 56px;
    }

    .plans{
        align-items: center;
    }

    .flexnav{
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: flex-end;
    }

    .togglenav{
        display: block;
    }

    .flex-nav ul.open{
        display: flex;
    }

    .flexnav ul {
        display: none;
    }

    #sched{
        display: block;
        /* margin: auto; */
        /* text-align: center; */
        width: 100%;
    }

    .schedule{
        display: none;
    }

    .navbar{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .plans{
        flex-direction: column;
        /* justify-content: center; */
        /* margin: auto;
        width: 100%; */
    }

    .rts{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .left{
        flex-direction: column;
    }

    .left ul{
        flex-direction: column;
        height: 200px;
    }

    .left ul li a{
        flex-direction: column;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  hr{
    display: block;
    width: 100%;
    margin: auto;
  }

  .services ul{
    /* text-align: center; */
    padding-left: 50px;
  }

  .line{
    display: block;
    align-self: center;
    margin:10px;
  }
  .closingbutton{
    display: block;
    padding: 20px;
    width: 62px;
    align-self: flex-end;
  }

  .flexnav ul.open{
    display: flex;
    flex-direction: column; 
    background-color: #1b262f;
    text-align: center;
    height: 300px;
}

.togglenav ul.open{
    display: none;
}

.flexnav ul.open li{
    /* margin: 10px; */
    color: white;
    font-size: 20px;
    /* line-height: auto; */
    align-self: center;
}

body{
    background-image: url("assets/shared/desktop/bg-pattern-circle.svg");
    background-position:110px -540px;
    background-repeat: no-repeat;
}


}